---

layout: default

title: Managing your code in Cuis

permalink: /CodeManagementInCuis
---

<div style="padding: 20px;"></div>
<div class="windowbar"><img src="{{'buttons.png' | relative_url}}">&nbsp;&nbsp;Managing your code in Cuis</div>
<div class="window-content">

{% capture markdown %}{% include_relative Documentation/CodeManagementInCuis.md %}{% endcapture %}
{% assign html = markdown | markdownify %}

<div id="table-of-contents" class="toc" style="float: right;">
{% include toc.html html=html h_min=2 h_max=2 %}
</div>

{{ html }}
</div>