---
layout: default
---
<div style="padding: 20px;"></div>
<div class="windowbar"><img src="buttons.png">&nbsp;&nbsp;Cuis Smalltalk</div>
<div class="home window-content">

  <!-- <h1 class="page-heading">Posts</h1>

       <ul class="post-list">
       {% for post in site.posts %}
       <li>
       <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

       <h2>
       <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
       </h2>
       </li>
       {% endfor %}
       </ul> -->
   
  
  <div id="table-of-contents"></div>
  <p>Cuis is a free Smalltalk-80 environment with a specific set of goals: being simple and powerful. It is also portable to any platform, fast and efficient.</p>  
  
  <img src="cuis.png" style="float:right;height: 350px;">
  {% capture readme %}{% include_relative README.md %}{% endcapture %}
  {{ readme | markdownify }}

</div>
