---

layout: default

title: Cuis is a Smalltalk-80 system. Why?

permalink: /OnSmalltalk80
---

<div style="padding: 20px;"></div>
<div class="windowbar"><img src="{{'buttons.png' | relative_url}}">&nbsp;&nbsp;Cuis is a Smalltalk-80 system. Why?</div>
<div class="window-content">

{% capture markdown %}{% include_relative Documentation/OnSmalltalk80.md %}{% endcapture %}
{% assign html = markdown | markdownify %}

<div id="table-of-contents" class="toc" style="float: right;">
{% include toc.html html=html h_min=2 h_max=2 %}
</div>

{{ html }}
</div>